.appointment{
  // background-color: #fff;
  border-radius: 10px;
  // border: 1px solid #fff;
  &__list {
    max-height: 285px;
    // height: 300px; 
    overflow-y: auto; 
    padding: 10px;
  }
  &__item{
    display: flex;
    align-items: center;

    &__status{
      width: 7px;
      height: 70px;
      margin-right: 12px;
      border-radius: 5px;


      &--cancelled{
        background-color: #FF4D4F;
      }
      &--pending{
        background-color: #4062BB;
      }
      &--confirmed{
        background-color: #2E8B57;
      }
    }

    &__content{
      flex: 1;
    }
  }
}

.ant-list-item-meta-title{
  font-weight: 700;
}