.cart{
    // background-color: #fff;
    color: #000;
    border-radius: 10px;
    width: 100%;
    height: 190px;

    &__title{
        display: flex;
        align-items: center;
        color: #727674 ;
        justify-content: space-between;
        &--text{
            font-size: 25px;
            font-weight: 600;
            margin-top: 10px;
            margin-left: 10px;
        }
        &--icon{
            font-size: 25px;
            margin-right: 20px;
            margin-top: 15px;
            background-color: #fff;
            padding: 10px;
            border-radius: 10px;
        }
    }
    &__content{
        display: flex;
        justify-content:flex-start;
        align-items: center;
        padding-top: 10px;
        &--count{
            font-size: 70px;
            font-weight: 400;
            margin-left: 10px;
            margin-right: 20px;
            transition: transform 0.3s ease;
            transform: scale(1);
        }
        &--desc{
            flex: 1;
            font-size: 22px;
        }
    }
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;

    &:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    .cart{
        &__content{
            &--count{
                transform: scale(1.15);
            }
        }
    }
  }
}